html {
    scroll-behavior: smooth;
}

body {
    margin: 0;
}

@media screen and (max-width: 768px) {
    html {font-size: 13px};
}

h2 {
    font-size: 1.75rem;
    font-weight: 500;
}

a {
    text-decoration: none;
}
